
<div class="dialpad">
    <div id="top">
        <button #button class="closebtn" mat-button (click)="dial = false"><mat-icon>close</mat-icon></button>
    </div>
    <div id="screen">
        <button mat-button class="dialmenu"><mat-icon>more_vert</mat-icon></button>
        <input id="dialinput" #dialinput matInput placeholder="Dial a number" value="">
        <button mat-button class="dialmenu" (click)="back($event)"><mat-icon>backspace</mat-icon></button>
    </div>
    <div id="suggestions"></div>
    <div id="phone">
        <div id="numpad">
                <mat-grid-list cols="3" rowHeight="fit">
                        <mat-grid-tile><button mat-button (click)="type($event)">1</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">2</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">3</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">4</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">5</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">6</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">7</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">8</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">9</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">*</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">0</button></mat-grid-tile>
                        <mat-grid-tile><button mat-button (click)="type($event)">#</button></mat-grid-tile>
                      
                    </mat-grid-list>
        </div>
        <div id="callfinal"><button mat-button id="ringbtn"><mat-icon>phone</mat-icon></button></div>

    </div>
</div>
<button #button class="callbtn" mat-button (click)="dial = true"><img src="assets/images/dial-pad.png"></button>


