<div class="pading_textdata">
  <div fxLayout="row" fxLayoutWrap="wrap" class="billing_row">
     <!-- Card column -->
     <div fxFlex.gt-sm="100%" fxFlex="100">
        
           <mat-tab-group animationDuration="10ms" class="billing_tabs space_element"> 
              <mat-tab label="Outbound Routes">    
                  <div class="client_search full_width"> 
                      <div class="full_width table_right_adjust"><span class="value_adjust  searching">
                      <input class ="search billing_Search textdata_align_left " matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> 
                   <span class="search_svg " [innerHTML]="'search' | feather"></span>
                     </span></div></div>
                     <table mat-table [dataSource]="outbound_dataelement1" class="client-table">
        
                        <!-- DID Column -->
                        <ng-container matColumnDef="did">
                            <th mat-header-cell *matHeaderCellDef class="width_element12"> DID </th>
                            <td mat-cell *matCellDef="let element" class="width_element12"><span class="font-mobile pro_name"> {{element.did}}
                                </span> </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="cid">
                            <th mat-header-cell *matHeaderCellDef class="width_element12">CID </th>
                            <td mat-cell *matCellDef="let element" class="width_element12"> <span class="bolding_element">{{element.cid}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="description" class="width_element12">
                            <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
                            <td mat-cell *matCellDef="let element" class="width_element12"> {{element.description}}</td>
                        </ng-container>
                        <!-- Weight Column -->
                        <ng-container matColumnDef="destination" >
                            <th mat-header-cell *matHeaderCellDef class="width_element52">DESTINATION</th>
                            <td mat-cell *matCellDef="let element" class="width_element52"> <span class="bolding_element">{{element.destination}} </span><span>{{element.content}}</span>
                            </td>
                        </ng-container>
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="pinning">
                            <th mat-header-cell *matHeaderCellDef class= "width_element12 table_right_adjust"> </th>
                            <td mat-cell *matCellDef="let element" class="width_element12 table_right_adjust">
                                <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'edit' | feather"></span>
                                <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'trash' | feather"></span>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="outboundColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: outboundColumns1;"></tr>
                    </table>
                    </mat-tab> 
<mat-tab label="Add Outbound Route">
<div class="pading_textdata">
    <form>
    <div class="container">
        
        <div class="form_row">
          <div class="col-25">
            <label class="label" for="fname"><span class="form_Data">Description</span> <span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
          </div>
          <div class="col-75">
            <input type="text" class="input_text" id="fname" name="firstname" >
          </div>
        </div>
        <div class="form_row">
          <div class="col-25">
            <label for="lname" class="label"><span class="form_Data">DID Number </span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
          </div>
          <div class="col-75">
            <input type="text" class="input_text" id="lname" name="lastname" >
          </div>
        </div>
        <div class="form_row">
          <div class="col-25">
            <label class="label" for="Alert info"><span class="form_Data">Alert info</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
          </div>
          <div class="col-75">
              <select class="input_text" id="alert_info" required>
                  <option label="--alert info--"></option>
                  <option *ngFor="let alert_info of alerts" [value]="alert_info">{{alert_info}}</option>
                </select>
          </div>
        </div>
        <div class="form_row">
            <div class="col-25">
              <label for="lname" class="label"><span class="form_Data">CID Name Prefix</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
            </div>
            <div class="col-75">
              <input type="text" class="input_text" id="lname" name="lastname" >
            </div>
          </div>
          <div class="form_row">
              <div class="col-25">
                <label class="label" for="Alert info"><span class="form_Data">Music On Hold</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
              </div>
              <div class="col-75">
                  <select class="input_text" id="music" required>
                      <option label="--music--"></option>
                      <option *ngFor="let music of musics" [value]="music">{{music}}</option>
                    </select>
              </div>
            </div>
            <div class="form_row">
                <div class="col-25">
                  <label class="label" for="Alert info"><span class="form_Data">Set Destination</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
                </div>
                <div class="col-75">
                    <select class="input_text" id="fromdestination" required>
                        <option label="--From--"></option>
                        <option *ngFor="let fromdestination of from_destination" [value]="fromdestination">{{fromdestination}}</option>
                      </select>
              </div>
              </div>
              <div class="form_row last_Value">
                 
                  <div class="col-75 last_Data_value">
                      
                      <select class="input_text" id="Todestination" required>
                          <option label="--To --"></option>
                          <option *ngFor="let Todestination of to_destination" [value]="Todestination">{{Todestination}}</option>
                        </select>
                       
                  </div>
                </div>
       
        
      </div>
      <div class="form_row submit_row">
          <span class="spacing_element" ><input class="bold_element rest_Value" type="submit" value="Delete"></span>
          <span class="spacing_element" ><input class="bold_element rest_Value" type="reset" value="Reset"></span>
          <span class="spacing_element" ><input class="bold_element input_submit" type="submit" value="Submit"></span>
        </div>
    </form>
</div>
                      </mat-tab>
                    </mat-tab-group>
            
    </div>
  
</div>
<div fxLayout="row" fxLayoutWrap="wrap" class="billing_row">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
       
          <mat-tab-group animationDuration="10ms" class="billing_tabs space_element"> 
             <mat-tab label="All Trunks">    
                 welcome
                   </mat-tab> 
<mat-tab label="New Trunk">
<div class="pading_textdata">
   <form>
   <div class="container">
       
       <div class="form_row">
         <div class="col-25">
           <label class="label" for="fname"><span class="form_Data">Trunk Name</span> <span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
         </div>
         <div class="col-75">
           <input type="text" class="input_text" id="fname" name="firstname" >
         </div>
       </div>
       <div class="form_row">
          <div class="col-25">
            <label for="lname" class="label"><span class="form_Data">Hide CallerID</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
          </div>
          <div class="col-75">
              <mat-slide-toggle ngDefaultControl
      name="hello"></mat-slide-toggle>
              
           
          </div>
        </div>
       <div class="form_row">
         <div class="col-25">
           <label for="lname" class="label"><span class="form_Data">Outbound CallerID</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
         </div>
         <div class="col-75">
           <input type="text" class="input_text" id="lname" name="lastname" >
         </div>
       </div>
       
       
       <div class="form_row">
          <div class="col-25">
            <label for="lname" class="label"><span class="form_Data">Maximum Channels</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
          </div>
          <div class="col-75">
            <input type="text" class="input_text" id="lname" name="lastname" >
          </div>
        </div>
        <div class="form_row">
            <div class="col-25">
              <label for="lname" class="label"><span class="form_Data">Asterisk Trunk Dial Options</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
            </div>
            <div class="col-75">
              <input type="text" class="input_text" id="lname" name="lastname" >
            </div>
          </div>
          <div class="form_row">
              <div class="col-25">
                <label for="lname" class="label"><span class="form_Data">Continue if Busy</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
              </div>
              <div class="col-75">
                  <mat-slide-toggle ngDefaultControl
          name="hello"></mat-slide-toggle>
              </div>
            </div>
            <div class="form_row">
                <div class="col-25">
                  <label for="lname" class="label"><span class="form_Data">Disable Trunk</span><span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
                </div>
                <div class="col-75">
                    <mat-slide-toggle ngDefaultControl
           ></mat-slide-toggle>
                </div>
              </div>
       </div>
      
     
   </form>
</div>
<div class="pading_textdata">
    <form>
    <div class="container">
        
        <div class="form_row">
          <div class="col-25">
            <label class="label" for="fname"><span class="form_Data">Trunk Name</span> <span class="form_svg" [innerHTML]="'help-circle' | feather"></span></label>
          </div>
          <div class="col-75">
            <input type="text" class="input_text" id="fname" name="firstname" >
          </div>
        </div>
        
       
        
        
       
         
          
             
        </div>
       
      
    </form>
 </div>
                     </mat-tab>
                   </mat-tab-group>
           
   </div>
 
</div>
</div>