
      <div class="pading_textdata">
         
            <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- Card column -->
                    <div fxFlex.gt-sm="100%" fxFlex="100">
                        <mat-card>
                           <mat-tab-group class="billing_tabs" animationDuration="0ms"> 
                              <mat-tab label="All Clients">    
                                    <div class="client_search full_width"> 
                                    <div class="full_width table_right_adjust"><span class="value_adjust billing_state searching">
                                    <input class ="search billing_Search textdata_align_left " matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> 
                                 <span class="search_svg " [innerHTML]="'search' | feather"></span>
                                   </span></div></div>
                            <div class="mat-elevation-z8">
            
            
                                <table mat-table [dataSource]="dataelement1" class="client-table">
            
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> CLIENT NAME </th>
                                        <td mat-cell *matCellDef="let element"><span class="font-mobile pro_name"> {{element.name}}
                                            </span> </td>
                                    </ng-container>
            
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="noofextension">
                                        <th mat-header-cell *matHeaderCellDef> NO. OF EXTENSION </th>
                                        <td mat-cell *matCellDef="let element"> <span class="bolding_element">{{element.noofextension}}</span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="startofextension">
                                        <th mat-header-cell *matHeaderCellDef>START OF EXTENSION </th>
                                        <td mat-cell *matCellDef="let element"> {{element.startofextension}} </td>
                                    </ng-container>
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="createdon">
                                        <th mat-header-cell *matHeaderCellDef>CREATED ON</th>
                                        <td mat-cell *matCellDef="let element"> <span class="bolding_element">{{element.createdon}}</span>{{element.time}}
                                        </td>
                                    </ng-container>
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="pinning">
                                        <th mat-header-cell *matHeaderCellDef class="table_right_adjust"> </th>
                                        <td mat-cell *matCellDef="let element" class="table_right_adjust">
                                            <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'eye' | feather"></span>
                                            <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'users' | feather"></span>
                                            <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'help-circle' | feather"></span>
                                            <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'share-2' | feather"></span>
                                            <span class="count value_adjust bg-custom-gray pinning_element lunch" [innerHTML]="'trash' | feather"></span>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="Columns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns: Columns1;"></tr>
                                </table>
             <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>  </mat-tab>  <mat-tab label="New Client">
                                    <h1>Some more tab content</h1>
                                    <p>...</p>
                                  </mat-tab>
                                </mat-tab-group>
                        </mat-card>
                    </div>
                </div>
         
      </div>
      