<div fxLayout="row" fxLayoutWrap="wrap" fxLayout.xs="column" fxLayout.sm="column">
    <div class="billing_pading_textdata1 table_right_adjust full_width">
<span class=" states2 white_Text green_color_background font-mobile">Bulk edit</span> </div></div>
  <div class="billing_pading_textdata2">
      <div fxLayout="row" fxLayoutWrap="wrap" class="billing_row" fxLayout.xs="column" fxLayout.sm="column">
          <div class="pading_textdata full_width"> 
          <div class="full_width table_right_adjust"><span class="value_adjust  billing_state searching">
            <input class ="search textdata_align_left billing_Search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> 
            <span class="search_svg " [innerHTML]="'search' | feather"></span>
            
            </span></div>  
         </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap" class="billing_row" fxLayout.xs="column" fxLayout.sm="column">
          <!-- Card column -->
          <div fxFlex.gt-sm="50%" fxFlex="50%">
  
              <mat-card class="fixFH2 border_Data">
                  <div id="active_title" class="title_format">
                      <div id="title-inner" class="center">
                          <span class="value_adjust user_element">
                          <span id="header_text" class="bolding_element">Current Payment Due</span></span>
                      </div>
                  </div>
                  <div class="billing_information">
                  <div class="full_width textdata-align title_Font2 color_purple bold_element">$0.00</div>
                <div class="full_width textdata-align">Clicking the ‘Pay Now’ button will charge your credit card on file for the full amount of the Current Payment Due.</div></div>
                <div class="full_width textdata-align "><span class=" states colr_lightpurple font-mobile">Play Now</span></div>    
              </mat-card>
                  
          </div>
          <div fxFlex.gt-sm="50%" fxFlex="50%">
              <mat-card class="fixFH2 border_Data">
                  <div id="active_title" class="title_format">
                      <div id="title-inner" class="center">
                          <span class="value_adjust user_element">
                              <span id="header_text" class="bolding_element">Billing Information</span></span>
                      </div>
                  </div>
                  <mat-list role="list" class="billing_information">
                      <mat-list-item role="listitem"><span class="equal_width">Billing Day</span><span class="equal_width">{{ billingday }} </span></mat-list-item>
                      <mat-list-item role="listitem"><span class="equal_width">Payment Method</span><span class="equal_width">{{ paymentmethod}} <span [innerHTML]="'edit' | feather"></span></span></mat-list-item>
                      <mat-list-item role="listitem"><span class="equal_width">Current Account Balance</span><span class="equal_width">{{ accountbalance}}</span></mat-list-item>
                    </mat-list> 
                    
              </mat-card>
          </div>
 
         
      </div>
      
      <div fxLayout="row"  class="billing_row" fxLayoutWrap="wrap">
           
          <!-- Card column -->
          <div fxFlex.gt-sm="100%" fxFlex="100">
              <mat-card>
                  <mat-tab-group class="billing_tabs"> 
                      <mat-tab label="Invoices">      
              <table mat-table [dataSource]="dataSource" class=" client-table">

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!--Photo Column -->
                      <ng-container matColumnDef="photo">
                        <th mat-header-cell *matHeaderCellDef class="width_value1"> PHOTO</th>
                        <td mat-cell *matCellDef="let element"> <span class="count value_adjust client_color pinning_element lunch" [innerHTML]="'user' | feather"></span>  </td>
                      </ng-container>
                    
                      <!--billdate Column -->
                      <ng-container matColumnDef="billdate">
                        <th mat-header-cell *matHeaderCellDef class="width_value1">BILL DATE </th>
                        <td mat-cell *matCellDef="let element"> {{element.billdate}} </td>
                      </ng-container>
                    
                      <!--amount Column -->
                      <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef class="width_value1"> AMOUNT</th>
                        <td mat-cell *matCellDef="let element"><span class="bolding_element">{{element.amount}}</span> </td>
                      </ng-container>
                    
                      <!--Payment Column -->
                      <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef class="width_value1"> Payment </th>
                        <td mat-cell *matCellDef="let element"><span *ngIf="element.tobebilled"> to be Billed: </span><span class="bolding_element">{{element.payment}}</span> </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </mat-tab> 
                  <mat-tab label="Orders">
                      <h1>Some more tab content</h1>
                      <p>...</p>
                    </mat-tab>
                  </mat-tab-group>
              </mat-card>
          </div>
      </div>
  <div>
      
  </div>
     
  </div>
  