
<button mat-button class="m-r-10 gotoapp">
<span> Go To App</span>
</button>

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.png" alt="user" class="profile-pic"> </button>
<button mat-button   [matMenuTriggerFor]="profile" class="m-r-10 p-l-0">
        <span>Shetty k</span> 
</button>
 

<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>

